.main {
  min-height: 100%;
  position: relative;

  padding: 0 0 2rem;

  &--title {
    text-align: center;
  }

  &--great-job {
    text-align: center;
    padding: 3rem 0;

    h2 {
      margin: 0;
      padding: 0;
    }

    h3 {
      color: #888;

      margin: 0;
      padding: 0;
    }
  }

  &--count {
    font-style: italic;
    text-align: center;
    padding: 1rem 0;
  }

  &--footer {
    padding: 0.3rem 0 0.7rem;

    &--count {
      color: #888;
      font-size: 80%;
      font-style: italic;
      text-align: right;

      padding: 0 0.5rem 0 0;
      margin: 0;
    }

    &--button {
      text-align: center;
    }
  }

  &--settings {
    text-align: center;

    width: 100%;
    padding: 0.6rem 0 0.9rem;
    position: fixed;
    background: #fff;

    bottom: 0;
    left: 0;

    a {
      color: #ccc;
      font-size: 80%;

      &:hover {
        color: #888;
      }
    }
  }
}

.dark-mode {
  .main {
    &--settings {
      background: #252628;
    }
  }
}
